div {
    p:first-child {
        background-color: rgb(207, 11, 11);
        color: white;
    }
    p:last-child {
        background-color: rgb(11, 11, 207);
        color: yellow;
    }
}
div:nth-of-type(2) p:first-child {
    background-color: rgb(11, 207, 11);
    color: black;
}