body{
    background-color: burlywood;
}
h1{
    font-style: italic;
    
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
h2{
    font-family: 'Georgia', 'Times New Roman', Times, 'serif';
}